In [4]:
import pandas as pd

In [6]:
df = pd.read_csv(r"D:\programming language\Data science and Machine learning\code\pandas\terrorismData.csv")

In [7]:
df = df[df['State']=='Jammu and Kashmir']

In [8]:
df

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
21744,1984,4,17,India,Jammu and Kashmir,South Asia,Bhela,33.315527,74.622476,Assassination,2.0,0.0,Gurbachan Singh Sandhar (Sikh lawyer) and wife,NaN,Sikh Extremists,Private Citizens & Property,Unknown
22108,1984,5,20,India,Jammu and Kashmir,South Asia,Jammu,32.726602,74.857026,Bombing/Explosion,1.0,0.0,bridge over a stream,NaN,Unknown,Transportation,Explosives
29677,1986,12,11,India,Jammu and Kashmir,South Asia,Madora,33.934929,75.154160,Bombing/Explosion,1.0,5.0,general post office complex,NaN,Unknown,Government (General),Unknown
33202,1988,1,21,India,Jammu and Kashmir,South Asia,Mand,32.888165,74.985168,Armed Assault,2.0,0.0,police unit,NaN,Unknown,Police,Firearms
33372,1988,2,7,India,Jammu and Kashmir,South Asia,Kherawali,32.523889,74.974444,Armed Assault,4.0,5.0,marriage reception,NaN,Sikh Extremists,Private Citizens & Property,Firearms
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181222,2017,12,11,India,Jammu and Kashmir,South Asia,Kralcheck Keller,33.732981,74.855559,Armed Assault,2.0,1.0,Van,12/11/2017: Assailants opened fire on a Jammu ...,Jaish-e-Mohammad (JeM),Business,Firearms
181396,2017,12,18,India,Jammu and Kashmir,South Asia,Baramulla district,34.191218,74.350010,Bombing/Explosion,0.0,0.0,Police Station,12/18/2017: Assailants threw a grenade at a po...,Unknown,Police,Explosives
181414,2017,12,19,India,Jammu and Kashmir,South Asia,Pulwama district,33.873538,74.899019,Bombing/Explosion,0.0,0.0,Police Line,12/19/2017: Assailants fired a rifle grenade a...,Unknown,Police,Explosives
181476,2017,12,22,India,Jammu and Kashmir,South Asia,Srinagar,34.083740,74.789902,Armed Assault,0.0,0.0,Post,12/22/2017: Assailants threw two petrol bombs ...,Unknown,Police,Incendiary
181672,2017,12,31,India,Jammu and Kashmir,South Asia,Lethapora,33.966527,74.964225,Armed Assault,8.0,3.0,Camp,12/31/2017: Assailants armed with grenades and...,Jaish-e-Mohammad (JeM),Police,Explosives

In [9]:
df_list = df['City'].value_counts()

In [10]:
df_list

Srinagar     657
Sopore       102
Unknown       86
Anantnag      76
Jammu         57
            ...
Bragam         1
Narsu          1
Lasjan         1
Goriwan        1
Lethapora      1
Name: City, Length: 633, dtype: int64

In [11]:
city = df_list.index[0]
count = df_list.values[0]

In [12]:
df = df[df['City']==city]

In [13]:
df

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
35266,1988,7,31,India,Jammu and Kashmir,South Asia,Srinagar,34.08374,74.789902,Bombing/Explosion,0.0,0.0,Srinagar Club,NaN,Sikh Extremists,Private Citizens & Property,Explosives
35267,1988,7,31,India,Jammu and Kashmir,South Asia,Srinagar,34.08374,74.789902,Bombing/Explosion,0.0,0.0,Telegraph Office,NaN,Sikh Extremists,Business,Explosives
36073,1988,10,27,India,Jammu and Kashmir,South Asia,Srinagar,34.08374,74.789902,Bombing/Explosion,0.0,9.0,Street,NaN,Unknown,Private Citizens & Property,Explosives
36074,1988,10,27,India,Jammu and Kashmir,South Asia,Srinagar,34.08374,74.789902,Bombing/Explosion,0.0,8.0,Police Unit,NaN,Muslim Militants,Police,Explosives
36078,1988,10,27,India,Jammu and Kashmir,South Asia,Srinagar,34.08374,74.789902,Armed Assault,1.0,0.0,Police Unit,NaN,Muslim Militants,Police,Firearms
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179570,2017,10,10,India,Jammu and Kashmir,South Asia,Srinagar,34.08374,74.789902,Armed Assault,0.0,1.0,Vehicle,10/10/2017: Assailants opened fire on a Centra...,Unknown,Police,Firearms
179684,2017,10,14,India,Jammu and Kashmir,South Asia,Srinagar,34.08374,74.789902,Bombing/Explosion,0.0,0.0,Officers,10/14/2017: Assailants threw a grenade at Cent...,Unknown,Police,Explosives
180599,2017,11,19,India,Jammu and Kashmir,South Asia,Srinagar,34.08374,74.789902,Bombing/Explosion,0.0,0.0,Officers,11/19/2017: Assailants threw a grenade at secu...,Unknown,Police,Explosives
180822,2017,11,27,India,Jammu and Kashmir,South Asia,Srinagar,34.08374,74.789902,Armed Assault,0.0,1.0,Officers,11/27/2017: Assailants threw a petrol bomb at ...,Unknown,Police,Incendiary
181476,2017,12,22,India,Jammu and Kashmir,South Asia,Srinagar,34.08374,74.789902,Armed Assault,0.0,0.0,Post,12/22/2017: Assailants threw two petrol bombs ...,Unknown,Police,Incendiary

In [19]:
group = df['Group'].value_counts().index[1]

In [20]:
group

'Muslim Separatists'

In [16]:
print(city,count,group)

Srinagar 657 Muslim Separatists

In [21]:
df = pd.read_csv(r"D:\programming language\Data science and Machine learning\code\pandas\terrorismData.csv")

In [24]:
df_list = df['Country'].value_counts()

In [30]:
country = df_list.index[0]
attack = df_list.values[0]

df = df[df['Country']==country]

In [35]:
year = df['Year'].value_counts().index[0]

In [36]:
year

2014

In [37]:
print(country,attack,year)

Iraq 24636 2014

In [38]:
df = pd.read_csv(r"D:\programming language\Data science and Machine learning\code\pandas\terrorismData.csv")

In [39]:
df = df[df.Killed==df.Killed.max()]

In [40]:
df

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
133518,2014,6,12,Iraq,Saladin,Middle East & North Africa,Tikrit,34.621521,43.668377,Hostage Taking (Kidnapping),1570.0,NaN,Soldiers,06/12/2014: Assailants abducted approximately ...,Islamic State of Iraq and the Levant (ISIL),Military,Firearms

In [41]:
mx_kill = df.Killed.iloc[0]
mx_kill

1570.0

In [43]:
country = df.Country.iloc[0]
country

'Iraq'

In [44]:
group = df.Group.iloc[0]

In [45]:
print(int(mx_kill),country,group)

1570 Iraq Islamic State of Iraq and the Levant (ISIL)

In [71]:
import pandas as pd

In [72]:
import numpy as np

In [73]:
df = pd.read_csv(r"D:\programming language\Data science and Machine learning\code\pandas\terrorismData.csv")

In [80]:
a = df[df.Day>=26]
b = a[a.Year==2014]
c = b[b.Country=='India']
ans1 = c[c.Month==5]

In [82]:
ans1
ans1.shape[0]
ans1.count()

Year           15
Month          15
Day            15
Country        15
State          15
Region         15
City           15
Latitude       15
Longitude      15
AttackType     15
Killed         15
Wounded        15
Target         15
Summary        15
Group          15
Target_type    15
Weapon_type    15
dtype: int64

In [76]:
d = df[df.Year==2014]
e = d[d.Country=='India']
ans2 = e[e.Month>=5]

In [77]:
ans2.count()

Year           522
Month          522
Day            522
Country        522
State          522
Region         522
City           522
Latitude       522
Longitude      522
AttackType     522
Killed         500
Wounded        491
Target         522
Summary        522
Group          522
Target_type    522
Weapon_type    522
dtype: int64

In [78]:
f = df[df.Country=='India']
ans3 = f[f.Year>2014]

count = ans1.shape[0] + ans2.shape[0] + ans3.shape[0]

ans1=ans1[ans1.Group!='Unknown']
ans2=ans2[ans2.Group!='Unknown']
ans3=ans3[ans3.Group!='Unknown']

print(count,ans3.Group.describe().top)

3412 Maoists

In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv(r"D:\programming language\Data science and Machine learning\code\pandas\terrorismData.csv")
year = len(set(df['Year']))

In [8]:
df = df[df.Country=='India']
df['Casualty'] = df['Killed']+df['Wounded']

jk = df[df.State=='Jammu and Kashmir']
rc = df[(df.State == 'Jharkhand')|(df.State == 'Odisha')|(df.State == 'Andhra Pradesh')|(df.State == 'Chhattishgarh')]

jkc = int(np.sum(jk['Casualty']))
rcc = int(np.sum(rc['Casualty']))

In [9]:
print(rcc//year,jkc//year)

64 261